.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.nav-icon,
.no-vehicle-icon,
.empty-icon,
.error-icon,
.success-icon,
.stat-icon i {
  font-size: 20px !important;
  vertical-align: middle;
}
